@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

*, *::before, *::after {
    box-sizing: 0;
    margin: 0;
    padding: 0;  
}

:root{
    --red-color: #CC0000;
    --blue-color: #3B4CCA;
    --font-family: 'Libre Baskerville', serif;
    --title-weight: 700;
    --letter-weight: 400;
}


html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    background-color: var(--blue-color);
}

header{
    width: 100%;
    background: linear-gradient( var(--red-color), var(--blue-color)) ;
    text-align:  center;
}
nav{
    background-color: black;
    color: white;
    padding: .5rem 2rem;
    font-family: var(--font-family);
    font-weight: var(--title-weight);
    text-align: start;
}
#img_logo{
    max-width: 100%;
    height: auto;
    padding: 2rem 0 ;
}
main{
    width: 100%;
    display: grid;
    gap: 1rem;
}
.grid--container {
    display: grid;
}
.app__search {
    font-weight: var(--title-weight);
    width: 80%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 1rem;
    background-color: #fdfbf6;
    display: grid;
    margin: 0 auto;
}
.app__buttons {
    display: grid;
    width: 85%;
    grid-template-columns: 1fr 1fr .5fr;
    column-gap: 1rem;
    margin: 0;
    padding: 0;
    justify-self: center;
  
}
.button {
    font-weight: var(--letter-weight);
    display: inline-flex;
    justify-content: center;
    padding: .5rem;
    border: none;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    background-color: #fdfbf6;
}

.button:hover{
    transition: all .5s;
    transform: scale(1.05);
    background-color: #3363AE ;
    color: white;
}

/*------- Result of API ----------*/
.app__container {
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
    gap: 1rem;
}
.app__item {
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: 10px;
    text-align: center;
}
.app__item--img {
    width: 150px;
}